@page "/mutate"
@using Flow.Net.Sdk.Core.Models
@using Fcl.Net.Core.Models
@inject Fcl.Net.Core.Fcl Fcl

<PageTitle>Mutate</PageTitle>

<h1>Mutate</h1>

<button onclick="@(async () => await MutateAsync())">Mutate</button>

@code {
    private async Task MutateAsync()
    {
        var tx = new FclMutation
            {
                Script = "transaction() { prepare(signer: AuthAccount) { log(signer.address) } }"
            };

        var transactionId = await Fcl.MutateAsync(tx);

        var result = await Fcl.Sdk.WaitForSealAsync(transactionId);
    }
}
