@page "/signusermessage"
@using Fcl.Net.Core.Models
@inject Fcl.Net.Core.Fcl Fcl

<PageTitle>Sign User Message</PageTitle>

<h1>Sign User Message</h1>

<button onclick="@(async () => await MutateAsync())">Sign</button>

@code {
    private async Task MutateAsync()
    {
        var signature = await Fcl.SignUserMessage("test");

        var verify = await Fcl.VerifyUserSignature("test", new List<FclSignature> { signature });
    }
}
